/*User Login*/
body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: #D1F3FA;
}

#userLoginCardTitle,
#userSignUpMCardTitle {
    color: #f8bb02;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.user-login-card{
    text-align: center;
    width: 40rem;
    margin: 5rem auto 0;
    padding: 2rem;
    -webkit-box-shadow: -2px 0px 5px 1px rgba(209,209,209,0.75);
    -moz-box-shadow: -2px 0px 5px 1px rgba(209,209,209,0.75);
    box-shadow: -2px 0px 5px 1px rgba(209,209,209,0.75);
}

#user-signup-form,
#user-login-form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0 auto;
}

#user-signup-form input,
#user-signup-form button,
#user-login-form input,
#user-login-form button {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#register-action {
    color: #f8bb02;
}



