body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.jumbotron {
    background-color: #d1f3fa;
}

.display-4 {
    color: #F8BB03;
    font-weight: bold;
}

.lead {
    color: #333333;
}